/* Main stylesheet for the website */

/* Variables */

:root {
    --padding:              50px;
    --desktop-width:        50vw;
    --max-desktop-width:    750px;
    --img-border-radius:    20px;
    --img-border-width:     5px;
    --txt-margin-height:    0.25em;

    --desktop-h1-size:  40px;
    --desktop-h2-size:  30px;
    --desktop-h3-size:  20px;
    --desktop-h4-size:  18px;
    --desktop-p-size:   16px;

    --col-bg:   #282A36;
    --col-ln:   #44475A;
    --col-fg:   #F8F8F2;
    --col-sec:  #6272A4;
    --col-acc:  #FF79C6;
}

html {
    height: auto;
    min-height: 100%;
}

/* Top-level Body is a vertical flex box */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--col-ln);
    height: auto;
    min-height: 100%;
    width: 100%;
}

@media (max-aspect-ratio: 1.2/1) {
    body {
        background-color: var(--col-bg);
    }
}

#main {
    padding: var(--padding);
    padding-top: 0px;
    width: var(--desktop-width);
    max-width: var(--max-desktop-width);
    background-color: var(--col-bg);
    height: auto;
    min-height: 100%;
    border-radius: var(--img-border-radius);
}

@media (max-aspect-ratio: 1.2/1) {
    #main {
        width: 90%;
    }
}

#welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}

#welcome-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

#welcome-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-radius: var(--img-border-radius);
    border-width: var(--img-border-width);
    border-color: var(--col-sec);
}

.imgbox {
    aspect-ratio: 16.0 / 9.0;
    overflow: hidden;
    border-style: solid;
    border-radius: var(--img-border-radius);
    border-width: var(--img-border-width);
    border-color: var(--col-sec);
    width: 100% - var(--img-border-width);
}

.imgbox img {
    width: var(--desktop-width);
    max-width: var(--max-desktop-width);
}

@media (max-aspect-ratio: 1.2/1) {
    .imgbox img {
        width: 100%;
    }
}

#fav-color-block {
    background-color: #03BB85;
    height: 100px;
    border-style: solid;
    border-radius: var(--img-border-radius);
    border-width: var(--img-border-width);
    border-color: var(--col-sec);
    width: 100% - var(--img-border-width);
}

/* Common Text Settings */

h1 {
    font-size: var(--desktop-h1-size);
    font-weight: bold;
    color: var(--col-fg);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
}

h2 {
    font-size: var(--desktop-h2-size);
    font-weight: bold;
    color: var(--col-fg);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
}

h3 {
    font-size: var(--desktop-h3-size);
    font-weight: bold;
    font-style: italic;
    color: var(--col-fg);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
    width: 100%;
}

h4 {
    font-size: var(--desktop-h4-size);
    font-weight: normal;
    text-decoration: underline;
    color: var(--col-fg);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
}

p {
    font-size: var(--desktop-p-size);
    color: var(--col-fg);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
}

a {
    font-size: var(--desktop-p-size);
    font-family: monospace;
    margin: var(--txt-margin-height) 0;
}

a:link {
    color: var(--col-sec);
}

a:visited {
    color: var(--col-acc);
}

ol {
    margin: var(--txt-margin-height) 0;
}

li {
    font-size: var(--desktop-p-size);
    font-family: monospace;
    color: var(--col-fg);
    margin: var(--txt-margin-height) 0;
}
